<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home</title>
  <link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>

<body>
  <div class="container">
    <h1>Hi {{ user.name }}</h1>
    <p>Your id: {{ user.id }}</p>
    <hr />
    <p><a href="{{ constant('BASE_URL') }}logout">Log out</a></p>
  </div>
</body>

</html>
