<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>

<body>

  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% elseif success %}
  <div class="alert alert-success">{{ success }}</div>
  {% endif %}

  <div class="container center">
    <h1 class="title">Login</h1>
    <form method="POST" action="" name="form-login">
      <div class="form-group">
        <label for="email"></label>
        <input type="email" name="email" id="email" aria-label="email" placeholder="E-mail" required />
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input type="password" name="password" id="password" aria-label="password" placeholder="Password" required />
      </div>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" required />
      <button class="btn" type="submit" name="btn-login">Log In</button>
      <p><small>Don't have an account ? <a href="{{ constant('BASE_URL') }}register">Sign up.</a></small></p>
      <p><small>Forgot your password ? <a href="{{ constant('BASE_URL') }}recover_password">Recover it here.</a></small></p>
    </form>
  </div>

  <script type="module" src="{{ constant('BASE_URL') }}assets/js/login.js"></script>
</body>

</html>
