<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Register</title>
	<link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>
<body>

	{% if error %}
	<div class="alert alert-danger">{{ error }}</div>
	{% endif %}

	<div class="container center">
		<h1 class="title">Register</h1>
		<form method="POST" action="" name="form-register">
			<div class="form-group">
				<label for="name"></label>
				<input type="name" name="name" id="name" aria-label="name" placeholder="Name" required />
			</div>
			<div class="form-group">
				<label for="email"></label>
				<input type="email" name="email" id="email" aria-label="email" placeholder="E-mail" required />
			</div>
			<div class="form-group">
				<label for="password"></label>
				<input type="password" name="password" id="password" aria-label="password" placeholder="Password" minlength="8"
					maxlength="50" required />
			</div>
			<div class="form-group">
				<label for="repeatedPassword"></label>
				<input type="password" name="repeatedPassword" id="repeatedPassword" aria-label="repeatedPassword"
					placeholder="Repeat password" minlength="8" maxlength="50" required />
			</div>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" required />
			<button class="btn" type="submit" name="btn-register">Register</button>
			<p><small>Already have an account ? <a href="login.php">Log in</a></small></p>
		</form>
	</div>

	<script type="module" src="{{ constant('BASE_URL') }}assets/js/register.js"></script>
</body>
</html>
