<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Reset password</title>
	<link rel="stylesheet" href="{{ constant('BASE_URL') }}assets/css/styles.css" />
</head>
<body>

	{% if error %}
	<div class="error">{{ error }}</div>
	{% endif %}

	<div class="container">
		<h1>Reset password</h1>
		<form method="POST" action="" name="form-reset-password">
			<div class="form-group">
				<label for="password"></label>
				<input type="password" name="password" id="password" aria-label="password" placeholder="New password" minlength="8"
					maxlength="50" required />
			</div>
			<div class="form-group">
				<label for="repeatedPassword"></label>
				<input type="password" name="repeatedPassword" id="repeatedPassword" aria-label="repeatedPassword"
					placeholder="Repeat the password" minlength="8" maxlength="50" required />
			</div>

			<button type="submit" name="btn-reset-password">Reset</button>
		</form>
	</div>

	<script type="module" src="{{ constant('BASE_URL') }}assets/js/reset_password.js"></script>
</body>
</html>
